%h2#cssowl-position-absolute cssowl-position-absolute <small>(top, right, bottom, left)</small>

%p
  :markdown
    Positions a element with `position: absolute;` and sets the `top`, `left`, `right` and `bottom` attributes if not `none`.

= preserve do
  -code("sass") do
    :plain
      /*
       * @param $top     (optional, default=none) top position value
       * @param $right   (optional, default=none) right position value
       * @param $bottom  (optional, default=none) bottom position value
       * @param $left    (optional, default=none) left position value
       */
      @mixin cssowl-position-absolute($top:none, $right:none, $bottom:none, $left:none)
        @if $top != none
          top: $top
        @if $left != none
          left: $left
        @if $right != none
          right: $right
        @if $bottom != none
          bottom: $bottom
        position: absolute

.bs-docs-example

  .content
    .wrapper{:style => "position:relative;width:50px;height:50px;border:1px solid #59371f;"}
      .example-absolute.top-right
      .example-absolute.bottom-left

  %ul.nav.nav-tabs
    %li.active
      = link_to 'Sass', '#example-absolute-sass'
    %li
      = link_to 'Scss', '#example-absolute-scss'
    %li
      = link_to 'Less', '#example-absolute-less'
    %li
      = link_to 'Stylus', '#example-absolute-stylus'
    %li
      = link_to 'Html', '#example-absolute-html'

  .tab-content
    #example-absolute-sass.tab-pane.active
      = preserve do
        -code("sass") do
          :plain
            .example-absolute
              width: 10px
              height: 10px
              background: #59371f
              &.top-right
                +cssowl-position-absolute(5px, 5px, none, none)
              &.bottom-left
                +cssowl-position-absolute(none, none, 5px, 5px)
    #example-absolute-scss.tab-pane
      = preserve do
        -code("scss") do
          :plain
            .example-absolute {
              width: 10px
              height: 10px
              background: #59371f
              &.top-right {
                @include cssowl-position-absolute(5px, 5px, none, none)
              }
              &.bottom-left {
                @include cssowl-position-absolute(none, none, 5px, 5px)
              }
            }
    #example-absolute-less.tab-pane
      = preserve do
        -code("less") do
          :plain
            .example-absolute {
              width: 10px;
              height: 10px;
              background: #59371f;
              &.top-right {
                .cssowl-position-absolute(5px, 5px, none, none);
              }
              &.bottom-left {
                .cssowl-position-absolute(none, none, 5px, 5px);
              }
            }
    #example-absolute-stylus.tab-pane
      = preserve do
        -code("stylus") do
          :plain
            .example-absolute
              width: 10px
              height: 10px
              background: #59371f
              &.top-right
                cssowl-position-absolute(5px, 5px, none, none)
              &.bottom-left
                cssowl-position-absolute(none, none, 5px, 5px)
    #example-absolute-html.tab-pane
      = preserve do
        -code("html") do
          .wrapper{:style => "position:relative;width:50px;height:50px;border:1px solid #59371f;"}
            .example-absolute.top-right
            .example-absolute.bottom-left
