%h3#cssowl-position-absolute-outside cssowl-position-absolute-outside <small>(width, height, valign, halign, xOffset, yOffset)</small>

%p
  :markdown
    Positions a element with `position: absolute;` outside the bounding box.

= preserve do
  -code("sass") do
    :plain
      /*
       * @param $width element width
       * @param $height element height
       * @param $valign (optional, default=top) vertical alignment top|middle|bottom
       * @param $halign (optional, default=left) horizontal alignment left|center|right
       * @param $xOffset (optional, default=0) x position offset
       * @param $yOffset (optional, default=0) y position offset
       */
      @mixin cssowl-position-absolute-outside($width, $height, $valign:top, $halign:left, $xOffset:0, $yOffset:0)
        $top: none
        $left: none
        $right: none
        $bottom: none
        @if $valign == top
          $top: round($yOffset - $height)
        @else if $valign == middle
          $top: 50%
          margin-top: $yOffset - round($height / 2)
        @else if $valign == bottom
          $bottom: round($yOffset - $height)
        @if $halign == left
          $left: round($xOffset - $width)
        @else if $halign == center
          $left: 50%
          margin-left: $xOffset - round($width / 2)
        @else if $halign == right
          $right: round($xOffset - $width)
        +cssowl-position-absolute($top, $right, $bottom, $left)

.bs-docs-example

  .content
    .wrapper{:style => "position:relative;width:50px;height:50px;border:1px solid #59371f;"}
      .example-absolute-outside.top-center
      .example-absolute-outside.middle-right
      .example-absolute-outside.bottom-center
      .example-absolute-outside.middle-left

    :sass
      @import "bower_components/cssowl/lib/sass/cssowl"
      .example-absolute-outside
        width: 10px
        height: 10px
        background: #59371f
        &.top-center
          +cssowl-position-absolute-outside(10px, 10px, top, center)
        &.middle-right
          +cssowl-position-absolute-outside(10px, 10px, middle, right)
        &.bottom-center
          +cssowl-position-absolute-outside(10px, 10px, bottom, center)
        &.middle-left
          +cssowl-position-absolute-outside(10px, 10px, middle, left)

  %ul.nav.nav-tabs
    %li.active.htmltab
      = link_to 'HTML', '#example-absolute-outside-html'
    %li
      = link_to 'LESS', '#example-absolute-outside-less'
    %li
      = link_to 'SASS', '#example-absolute-outside-sass'
    %li
      = link_to 'SCSS', '#example-absolute-outside-scss'
    %li
      = link_to 'Stylus', '#example-absolute-outside-styl'

  .tab-content
    #example-absolute-outside-html.tab-pane.active
      = preserve do
        -code("html") do
          .wrapper{:style => "position:relative;width:50px;height:50px;border:1px solid #59371f;"}
            .example-absolute-outside.top-center
            .example-absolute-outside.middle-right
            .example-absolute-outside.bottom-center
            .example-absolute-outside.middle-left
    #example-absolute-outside-less.tab-pane
      = preserve do
        -code("less") do
          :plain
            .example-absolute-outside {
              width: 10px;
              height: 10px;
              background: #59371f;
              &.top-center {
                .cssowl-position-absolute-outside(10px, 10px, top, center);
              }
              &.middle-right {
                .cssowl-position-absolute-outside(10px, 10px, middle, right);
              }
              &.bottom-center {
                .cssowl-position-absolute-outside(10px, 10px, bottom, center);
              }
              &.middle-left {
                .cssowl-position-absolute-outside(10px, 10px, middle, left);
              }
            }
    #example-absolute-outside-sass.tab-pane
      = preserve do
        -code("sass") do
          :plain
            .example-absolute-outside
              width: 10px
              height: 10px
              background: #59371f
              &.top-center
                +cssowl-position-absolute-outside(10px, 10px, top, center)
              &.middle-right
                +cssowl-position-absolute-outside(10px, 10px, middle, right)
              &.bottom-center
                +cssowl-position-absolute-outside(10px, 10px, bottom, center)
              &.middle-left
                +cssowl-position-absolute-outside(10px, 10px, middle, left)
    #example-absolute-outside-scss.tab-pane
      = preserve do
        -code("scss") do
          :plain
            .example-absolute-outside {
              width: 10px;
              height: 10px;
              background: #59371f;
              &.top-center {
                @include cssowl-position-absolute-outside(10px, 10px, top, center);
              }
              &.middle-right {
                @include cssowl-position-absolute-outside(10px, 10px, middle, right);
              }
              &.bottom-center {
                @include cssowl-position-absolute-outside(10px, 10px, bottom, center);
              }
              &.middle-left {
                @include cssowl-position-absolute-outside(10px, 10px, middle, left);
              }
            }
    #example-absolute-outside-styl.tab-pane
      = preserve do
        -code("styl") do
          :plain
            .example-absolute-outside
              width: 10px
              height: 10px
              background: #59371f
              &.top-center
                cssowl-position-absolute-outside(10px, 10px, top, center)
              &.middle-right
                cssowl-position-absolute-outside(10px, 10px, middle, right)
              &.bottom-center
                cssowl-position-absolute-outside(10px, 10px, bottom, center)
              &.middle-left
                cssowl-position-absolute-outside(10px, 10px, middle, left)
