!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
%html.no-js
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width", :name => "viewport"}
    %title= page_title
    %meta{:content => page_description, :name => "description"}
    %link{ rel: "apple-touch-icon", sizes: "144x144", href: "/apple-touch-icon-144x144-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "120x120", href: "/apple-touch-icon-120x120-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "114x114", href: "/apple-touch-icon-114x114-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "72x72", href: "/apple-touch-icon-72x72-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "57x57", href: "/apple-touch-icon-57x57-precomposed.png" }
    %link{ rel: "apple-touch-icon", href: "apple-touch-icon-precomposed.png" }
    %link{ rel: "shortcut icon", href: "favicon.png" }
    %link{ rel: "icon", type: "image/ico", href: "favicon.ico" }

    = stylesheet_link_tag "all"
    = javascript_include_tag  "modernizr"

    = if content_for?(:head)
      -yield_content :head

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23550216-3']);
      _gaq.push(['_gat._anonymizeIp', true]);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
  %body{:class => page_classes}

    %header.navbar.navbar-inverse.navbar-fixed-top.bs-docs-nav
      .container
        .navbar-header
          %button.navbar-toggle{:type => "button", :data => {:toggle => "collapse", :target => ".bs-navbar-collapse"}}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a{:href => "../", :class => "navbar-brand"} Cssowl

        %nav.collapse.navbar-collapse.bs-navbar-collapse
          %ul.nav.navbar-nav
            %li{nav_active("position")}
              = link_to 'position', 'position.html'
            %li{nav_active("sprite")}
              = link_to 'sprite', 'sprite.html'


    .bs-header
      .container
        %h1.title Cssowl

        %p.lead Owl-Stars mixins library for faster and easier web development.

        %a.btn.btn-lg.btn-download{:href => "https://github.com/owl-stars/cssowl/archive/v#{data.cssowl.version}.zip"} Download Cssowl <small>v#{data.cssowl.version}</small>

    .container.bs-docs-container
      .row
        .col-md-3
          .bs-sidebar.hidden-print
            = yield_content :nav

        .col-md-9.bs-docs-content
          = find_and_preserve do
            = yield

  %footer.bs-footer{role: "contentinfo"}
    .container
      .bs-social
        %ul.bs-social-buttons
          %li
            %iframe.github-btn{height: "20", src: "http://ghbtns.com/github-btn.html?user=owl-stars&repo=cssowl&type=watch&count=true", title: "Star on GitHub", width: "100"}
          %li
            %iframe.github-btn{height: "20", src: "http://ghbtns.com/github-btn.html?user=owl-stars&repo=cssowl&type=fork&count=true", title: "Fork on GitHub", width: "102"}
          %li.tweet-btn
            %a.twitter-share-button{:href => "https://twitter.com/share", :data => {:count => "horizontal", :text => "Cssowl", :via => "Owl_Stars", :url => "http://cssowl.owl-stars.com/"}} Tweet

      %p
        Proudly built using #{link_to 'Middleman', "http://middlemanapp.com/", target: "_blank"} and #{link_to 'Twitter Bootstrap', "http://getbootstrap.com/", target: "_blank"}.<br/>
        Copyright &copy; 2013 We Just Do Stuff, Kim & Pollak GbR

    = javascript_include_tag  "main"

    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
