!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
%html.no-js
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width", :name => "viewport"}
    %title= page_title
    %meta{:content => page_description, :name => "description"}

    -#Favicon Options:
    -#Update favicon_base.png in /source and middleman-favicon-maker will generate all the versions you need on 'middleman build'
    -#OR, place favicon.ico and apple-touch-icon.png in /source and deactivate :favicon_maker in config.rb

    = stylesheet_link_tag "all"
    = javascript_include_tag  "modernizr"

    = if content_for?(:head)
      -yield_content :head

  %body{:class => page_classes}

    %header.navbar.navbar-inverse.navbar-fixed-top.bs-docs-nav
      .container
        .navbar-header
          %button.navbar-toggle{:type => "button", :data => {:toggle => "collapse", :target => ".bs-navbar-collapse"}}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a{:href => "../", :class => "navbar-brand"} Cssowl

        %nav.collapse.navbar-collapse.bs-navbar-collapse
          %ul.nav.navbar-nav
            %li{nav_active("position")}
              = link_to 'position', 'position.html'
            %li{nav_active("sprite")}
              = link_to 'sprite', 'sprite.html'

    .bs-header
      .container
        %h1 Cssowl
        %p Lorem ipsum

    .container.bs-docs-container
      .row
        .col-md-3
          .bs-sidebar.hidden-print
            = yield_content :nav

        .col-md-9.bs-docs-content
          = find_and_preserve do
            = yield


    = javascript_include_tag  "main"
