%p.lead Depending on your demands and skills there are three download options are available:

%h4 #{link_to 'Download the latest release', 'https://github.com/owl-stars/cssowl/releases'}
%p Get the latest release files by downloading the latest version directly from GitHub.

%h4 #{link_to 'Clone or fork via GitHub', 'https://github.com/owl-stars/cssowl'}
%p Make your own version of Cssowl and clone or fork the project by visiting us on GitHub.

%h4 Install with #{link_to 'Bower', 'http://bower.io'}
%p Install and manage the original files for all CSS and JavaScript, along with a local copy of the docs, using #{link_to 'Bower', 'http://bower.io'}.

= preserve do
  -code("shell") do
    $ bower install cssowl

