%p.lead Cssowl is #{link_to 'Owl-Stars', 'http://www.owl-stars.com'} mixins library with support for #{link_to 'Less', 'http://lesscss.org'}, #{link_to 'Sass/Scss', 'http://sass-lang.com'} and #{link_to 'Stylus', 'http://learnboost.github.io/stylus/'}.

%p It's been created to work with Owl-Stars Plugins like #{link_to 'Spriteowl', 'http://spriteowl.owl-stars.com'} but it can also be used by it self to help you for faster and easier web development.

%p This library contains the following packages:

%ul
  %li #{link_to 'cssowl-position', '/position.html'}: Mixins to position html elements
  %li #{link_to 'cssowl-sprite', '/sprite.html'}: Mixins for common tasks working with sprite images