%h3#cssowl-sprite-absolute cssowl-sprite-absolute <small>(x, y, width, height, src, top, right, bottom, left)</small>

%p
  :markdown
    Place a sprite element with `position: absolute;`.

= preserve do
  -code("sass") do
    :plain
      /*
       * @param $x x position of the element
       * @param $y y position of the element
       * @param $width element width
       * @param $height element height
       * @param $src background image source
       * @param $top (optional, default=none) top position value
       * @param $right (optional, default=none) right position value
       * @param $bottom (optional, default=none) bottom position value
       * @param $left (optional, default=none) left position value
       */
      @mixin cssowl-sprite-absolute($x, $y, $width, $height, $src, $top:none, $right:none, $bottom:none, $left:none)
        +cssowl-position-absolute($top, $right, $bottom, $left)
        +cssowl-sprite-display($x, $y, $width, $height, $src)

.bs-docs-example

  .content
    .wrapper{:style => "position:relative;width:50px;height:50px;border:1px solid #59371f;"}
      .example-absolute.top-right
      .example-absolute.bottom-left

    :sass
      @import "bower_components/cssowl/lib/sass/cssowl"
      .example-absolute
        &.top-right
          +cssowl-sprite-absolute(-110px, -30px, 15px, 15px, url("/assets/img/sprite.png"), 5px, 5px, none, none)
        &.bottom-left
          +cssowl-sprite-absolute(-110px, -30px, 15px, 15px, url("/assets/img/sprite.png"), none, none, 5px, 5px)

  %ul.nav.nav-tabs
    %li.active.htmltab
      = link_to 'HTML', '#example-absolute-html'
    %li
      = link_to 'LESS', '#example-absolute-less'
    %li
      = link_to 'SASS', '#example-absolute-sass'
    %li
      = link_to 'SCSS', '#example-absolute-scss'
    %li
      = link_to 'Stylus', '#example-absolute-styl'

  .tab-content
    #example-absolute-html.tab-pane.active
      = preserve do
        -code("html") do
          .wrapper{:style => "position:relative;width:50px;height:50px;border:1px solid #59371f;"}
            .example-absolute.top-right
            .example-absolute.bottom-left
    #example-absolute-less.tab-pane
      = preserve do
        -code("less") do
          :plain
            .example-absolute {
              &.top-right {
                .cssowl-sprite-absolute(-110px, -30px, 15px, 15px, url("/assets/img/sprite.png"), 5px, 5px, none, none);
              }
              &.bottom-left {
                .cssowl-sprite-absolute(-110px, -30px, 15px, 15px, url("/assets/img/sprite.png"), none, none, 5px, 5px);
              }
            }
    #example-absolute-sass.tab-pane
      = preserve do
        -code("sass") do
          :plain
            .example-absolute
              &.top-right
                +cssowl-sprite-absolute(-110px, -30px, 15px, 15px, url("/assets/img/sprite.png"), 5px, 5px, none, none)
              &.bottom-left
                +cssowl-sprite-absolute(-110px, -30px, 15px, 15px, url("/assets/img/sprite.png"), none, none, 5px, 5px)
    #example-absolute-scss.tab-pane
      = preserve do
        -code("scss") do
          :plain
            .example-absolute {
              &.top-right {
                @include cssowl-sprite-absolute(-110px, -30px, 15px, 15px, url("/assets/img/sprite.png"), 5px, 5px, none, none);
              }
              &.bottom-left {
                @include cssowl-sprite-absolute(-110px, -30px, 15px, 15px, url("/assets/img/sprite.png"), none, none, 5px, 5px);
              }
            }
    #example-absolute-styl.tab-pane
      = preserve do
        -code("styl") do
          :plain
            .example-absolute
              &.top-right
                cssowl-sprite-absolute(-110px, -30px, 15px, 15px, url("/assets/img/sprite.png"), 5px, 5px, none, none)
              &.bottom-left
                cssowl-sprite-absolute(-110px, -30px, 15px, 15px, url("/assets/img/sprite.png"), none, none, 5px, 5px)
