%h3#cssowl-sprite-after-absolute cssowl-sprite-after-absolute <small>(x, y, width, height, src, top, right, bottom, left)</small>

:markdown
  Add a sprite element with the `:after` pseudo selector and place it with the `position: absolute;` attribute.

= preserve do
  -code("sass") do
    :plain
      /*
       * @param $x x position of the element
       * @param $y y position of the element
       * @param $width element width
       * @param $height element height
       * @param $src background image source
       * @param $top (optional, default=none) top position value
       * @param $right (optional, default=none) right position value
       * @param $bottom (optional, default=none) bottom position value
       * @param $left (optional, default=none) left position value
       */
      @mixin cssowl-sprite-after-absolute($x, $y, $width, $height, $src, $top:none, $right:none, $bottom:none, $left:none)
        position: relative
        &:after
          content: ""
          +cssowl-sprite-absolute($x, $y, $width, $height, $src, $top, $right, $bottom, $left)

.bs-docs-example

  .content
    .example-after-absolute{:style => "margin-right:20px;"} Quia sint quis nam et quia ducimus consequatur cumque.

    :sass
      @import "bower_components/cssowl/lib/sass/cssowl"
      .example-after-absolute
        +cssowl-sprite-after-absolute(-110px, -30px, 15px, 15px, url("/assets/img/sprite.png"), 2px, -20px)

  %ul.nav.nav-tabs
    %li.active.htmltab
      = link_to 'HTML', '#example-after-absolute-html'
    %li
      = link_to 'LESS', '#example-after-absolute-less'
    %li
      = link_to 'SASS', '#example-after-absolute-sass'
    %li
      = link_to 'SCSS', '#example-after-absolute-scss'
    %li
      = link_to 'Stylus', '#example-after-absolute-styl'

  .tab-content
    #example-after-absolute-html.tab-pane.active
      = preserve do
        -code("html") do
          .example-after-absolute{:style => "margin-right:20px;"} Quia sint quis nam et quia ducimus consequatur cumque.
    #example-after-absolute-less.tab-pane
      = preserve do
        -code("less") do
          :plain
            .example-after-absolute {
              .cssowl-sprite-after-absolute(-110px, -30px, 15px, 15px, url("/assets/img/sprite.png"), 2px, -20px);
            }
    #example-after-absolute-sass.tab-pane
      = preserve do
        -code("sass") do
          :plain
            .example-after-absolute
              +cssowl-sprite-after-absolute(-110px, -30px, 15px, 15px, url("/assets/img/sprite.png"), 2px, -20px)
    #example-after-absolute-scss.tab-pane
      = preserve do
        -code("scss") do
          :plain
            .example-after-absolute {
              @include cssowl-sprite-after-absolute(-110px, -30px, 15px, 15px, url("/assets/img/sprite.png"), 2px, -20px);
            }
    #example-after-absolute-styl.tab-pane
      = preserve do
        -code("styl") do
          :plain
            .example-after-absolute
              cssowl-sprite-after-absolute(-110px, -30px, 15px, 15px, url("/assets/img/sprite.png"), 2px, -20px)
