%h3#cssowl-sprite-before-absolute-inside cssowl-sprite-before-absolute-inside <small>(x, y, width, height, src, valign, halign, xOffset, yOffset)</small>

%p
  :markdown
    Add a sprite element with the `:before` pseudo selector and place it with `position: absolute;` inside the bounding box.

= preserve do
  -code("sass") do
    :plain
      /*
       * @param $x x position of the element
       * @param $y y position of the element
       * @param $width element width
       * @param $height element height
       * @param $src background image source
       * @param $valign (optional, default=top) vertical alignment top|middle|bottom
       * @param $halign (optional, default=left) horizontal alignment left|center|right
       * @param $xOffset (optional, default=0) x position offset
       * @param $yOffset (optional, default=0) y position offset
       */
      @mixin cssowl-sprite-before-absolute-inside($x, $y, $width, $height, $src, $valign:top, $halign:left, $xOffset:0, $yOffset:0)
        position: relative
        &:before
          content: ""
          +cssowl-sprite-absolute-inside($x, $y, $width, $height, $src, $valign, $halign, $xOffset, $yOffset)

.bs-docs-example

  .content
    .example-before-absolute-inside{:style => "display:inline-block;border-top:1px solid #59371f;padding-top: 5px;"} Quia sint quis

    :sass
      @import "bower_components/cssowl/lib/sass/cssowl"
      .example-before-absolute-inside
        +cssowl-sprite-before-absolute-inside(-110px, -20px, 7px, 4px, url("/assets/img/sprite.png"), top, center)

  %ul.nav.nav-tabs
    %li.active.htmltab
      = link_to 'HTML', '#example-before-absolute-inside-html'
    %li
      = link_to 'LESS', '#example-before-absolute-inside-less'
    %li
      = link_to 'SASS', '#example-before-absolute-inside-sass'
    %li
      = link_to 'SCSS', '#example-before-absolute-inside-scss'
    %li
      = link_to 'Stylus', '#example-before-absolute-inside-styl'

  .tab-content
    #example-before-absolute-inside-html.tab-pane.active
      = preserve do
        -code("html") do
          .example-before-absolute-inside{:style => "display:inline-block;border-top:1px solid #59371f;padding-top: 5px;"} Quia sint quis
    #example-before-absolute-inside-less.tab-pane
      = preserve do
        -code("less") do
          :plain
            .example-before-absolute-inside {
              .cssowl-sprite-before-absolute-inside(-110px, -20px, 7px, 4px, url("/assets/img/sprite.png"), top, center);
            }
    #example-before-absolute-inside-sass.tab-pane
      = preserve do
        -code("sass") do
          :plain
            .example-before-absolute-inside
              +cssowl-sprite-before-absolute-inside(-110px, -20px, 7px, 4px, url("/assets/img/sprite.png"), top, center)
    #example-before-absolute-inside-scss.tab-pane
      = preserve do
        -code("scss") do
          :plain
            .example-before-absolute-inside {
              @include cssowl-sprite-before-absolute-inside(-110px, -20px, 7px, 4px, url("/assets/img/sprite.png"), top, center);
            }
    #example-before-absolute-inside-styl.tab-pane
      = preserve do
        -code("styl") do
          :plain
            .example-before-absolute-inside
              cssowl-sprite-before-absolute-inside(-110px, -20px, 7px, 4px, url("/assets/img/sprite.png"), top, center)
