%h3#cssowl-sprite-display-block cssowl-sprite-display-block <small>(x, y, width, height, src)</small>

:markdown
  Add a sprite element with the `display: block;` attribute.

= preserve do
  -code("sass") do
    :plain
      /*
       * @param $x x position of the element
       * @param $y y position of the element
       * @param $width element width
       * @param $height element height
       * @param $src background image source
       */
      @mixin cssowl-sprite-display-block($x, $y, $width, $height, $src)
        display: block
        +cssowl-sprite-display($x, $y, $width, $height, $src)

.bs-docs-example

  .content
    .example-display-block

    :sass
      @import "bower_components/cssowl/lib/sass/cssowl"
      .example-display-block
        +cssowl-sprite-display-block(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"))

  %ul.nav.nav-tabs
    %li.active.htmltab
      = link_to 'HTML', '#example-display-block-html'
    %li
      = link_to 'LESS', '#example-display-block-less'
    %li
      = link_to 'SASS', '#example-display-block-sass'
    %li
      = link_to 'SCSS', '#example-display-block-scss'
    %li
      = link_to 'Stylus', '#example-display-block-styl'

  .tab-content
    #example-display-block-html.tab-pane.active
      = preserve do
        -code("html") do
          .example-display-block
    #example-display-block-less.tab-pane
      = preserve do
        -code("less") do
          :plain
            .example-display-block {
              .cssowl-sprite-display-block(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"));
            }
    #example-display-block-sass.tab-pane
      = preserve do
        -code("sass") do
          :plain
            .example-display-block
              +cssowl-sprite-display-block(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"))
    #example-display-block-scss.tab-pane
      = preserve do
        -code("scss") do
          :plain
            .example-display-block {
              @include cssowl-sprite-display-block(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"));
            }
    #example-display-block-styl.tab-pane
      = preserve do
        -code("sass") do
          :plain
            .example-display-block
              cssowl-sprite-display-block(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"))
