%h3#cssowl-sprite-display cssowl-sprite-display <small>(x, y, width, height, src)</small>

:markdown
  Add a sprite element with its `width`, `height`, `background-image` and `background-position`.

= preserve do
  -code("sass") do
    :plain
      /*
       * @param $x position of the element
       * @param $y position of the element
       * @param $width element width
       * @param $height element height
       * @param $src background image source
       */
      @mixin cssowl-sprite-display($x, $y, $width, $height, $src)
        width: $width
        height: $height
        background-image: $src
        background-position: $x $y
        background-repeat: no-repeat

.bs-docs-example

  .content
    .example-display

    :sass
      @import "bower_components/cssowl/lib/sass/cssowl"
      .example-display
        +cssowl-sprite-display(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"))

  %ul.nav.nav-tabs
    %li.active.htmltab
      = link_to 'HTML', '#example-display-html'
    %li
      = link_to 'SASS', '#example-display-sass'
    %li
      = link_to 'SCSS', '#example-display-scss'
    %li
      = link_to 'LESS', '#example-display-less'
    %li
      = link_to 'Stylus', '#example-display-styl'

  .tab-content
    #example-display-html.tab-pane.active
      = preserve do
        -code("html") do
          .example-display
    #example-display-sass.tab-pane
      = preserve do
        -code("sass") do
          :plain
            .example-display
              +cssowl-sprite-display(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"))
    #example-display-scss.tab-pane
      = preserve do
        -code("scss") do
          :plain
            .example-display {
              @include cssowl-sprite-display(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"));
            }
    #example-display-less.tab-pane
      = preserve do
        -code("scss") do
          :plain
            .example-display {
              .cssowl-sprite-display(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"));
            }
    #example-display-styl.tab-pane
      = preserve do
        -code("sass") do
          :plain
            .example-display
              cssowl-sprite-display(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"))
