%h3#cssowl-sprite-display-inline cssowl-sprite-display-inline <small>(x, y, width, height, src, yOffset, valign)</small>

:markdown
  Add a sprite element with the `display: inline-block` attribute and place it with `yOffset` and `valign`.

= preserve do
  -code("sass") do
    :plain
      /*
       * @param $x x position of the element
       * @param $y y position of the element
       * @param $width element width
       * @param $height element height
       * @param $src background image source
       * @param $yOffset (optional, default=0) top margin of the element
       * @param $valign (optional, default=middle) *vertical-align* attribute property
       */
      @mixin cssowl-sprite-display-inline($x, $y, $width, $height, $src, $yOffset:0, $valign:middle)
        margin-top: $yOffset
        display: inline-block
        vertical-align: $valign
        +cssowl-sprite-display($x, $y, $width, $height, $src)

.bs-docs-example

  .content
    .example-display-inline

    :sass
      @import "bower_components/cssowl/lib/sass/cssowl"
      .example-display-inline
        +cssowl-sprite-display-inline(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"))

  %ul.nav.nav-tabs
    %li.active.htmltab
      = link_to 'HTML', '#example-display-inline-html'
    %li
      = link_to 'LESS', '#example-display-inline-less'
    %li
      = link_to 'SASS', '#example-display-inline-sass'
    %li
      = link_to 'SCSS', '#example-display-inline-scss'
    %li
      = link_to 'Stylus', '#example-display-inline-styl'

  .tab-content
    #example-display-inline-html.tab-pane.active
      = preserve do
        -code("html") do
          .example-display-inline
    #example-display-inline-less.tab-pane
      = preserve do
        -code("less") do
          :plain
            .example-display-inline {
              .cssowl-sprite-display-inline(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"));
            }
    #example-display-inline-sass.tab-pane
      = preserve do
        -code("sass") do
          :plain
            .example-display-inline
              +cssowl-sprite-display-inline(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"))
    #example-display-inline-scss.tab-pane
      = preserve do
        -code("scss") do
          :plain
            .example-display-inline {
              @include cssowl-sprite-display-inline(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"));
            }
    #example-display-inline-styl.tab-pane
      = preserve do
        -code("styl") do
          :plain
            .example-display-inline
              cssowl-sprite-display-inline(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"))
