%h3#cssowl-sprite-replace cssowl-sprite-replace <small>(x, y, width, height, src)</small>

%p
  :markdown
    Add a sprite element and use `text-indent: -9999px;` to hide the text.

= preserve do
  -code("sass") do
    :plain
      /*
       * @param $x x position of the element
       * @param $y y position of the element
       * @param $width element width
       * @param $height element height
       * @param $src background image source
       */
      @mixin cssowl-sprite-replace($x, $y, $width, $height, $src)
        direction: ltr
        text-indent: -9999px
        +cssowl-sprite-display($x, $y, $width, $height, $src)

.bs-docs-example

  .content
    %h1.example-replace Lorem ipsum dolor sit atem

  %ul.nav.nav-tabs
    %li.active.htmltab
      = link_to 'HTML', '#example-replace-html'
    %li
      = link_to 'LESS', '#example-replace-less'
    %li
      = link_to 'SASS', '#example-replace-sass'
    %li
      = link_to 'SCSS', '#example-replace-scss'
    %li
      = link_to 'Stylus', '#example-replace-stylus'


  .tab-content
    #example-replace-sass.tab-pane
      = preserve do
        -code("sass") do
          :plain
            .example-replace
              +cssowl-sprite-replace(-10px, -10px, 91px, 95px, url("sprite.png"))
    #example-replace-scss.tab-pane
      = preserve do
        -code("scss") do
          :plain
            .example-replace {
              @include cssowl-sprite-replace(-10px, -10px, 91px, 95px, url("sprite.png"));
            }
    #example-replace-less.tab-pane
      = preserve do
        -code("less") do
          :plain
            .example-replace {
              .cssowl-sprite-replace(-10px, -10px, 91px, 95px, url("sprite.png"));
            }
    #example-replace-stylus.tab-pane
      = preserve do
        -code("stylus") do
          :plain
            .example-replace
              cssowl-sprite-replace(-10px, -10px, 91px, 95px, url("sprite.png"))
    #example-replace-html.tab-pane.active
      = preserve do
        -code("html") do
          %h1.example-replace Lorem ipsum dolor sit atem
