%h3#cssowl-sprite-replace-inline cssowl-sprite-replace-inline <small>(x, y, width, height, src, yOffset, valign)</small>

:markdown
  Add a sprite element with the `display: inline-block` attribute, use `text-indent: -9999px;` to hide the text and place it with the `display: inline;` attribute.

= preserve do
  -code("sass") do
    :plain
      /*
       * @param $x x position of the element
       * @param $y y position of the element
       * @param $width element width
       * @param $height element height
       * @param $src background image source
       * @param $yOffset (optional, default=0) top margin of the element
       * @param $valign (optional, default=middle) *vertical-align* attribute property
       */
      @mixin cssowl-sprite-replace-inline($x, $y, $width, $height, $src, $yOffset:0, $valign:middle)
        direction: ltr
        text-indent: -9999px
        +cssowl-sprite-display-inline($x, $y, $width, $height, $src, $yOffset, $valign)

.bs-docs-example

  .content
    %p Lorem ipsum dolor <span class="example-replace-inline">cssowl</span> sit atem

    :sass
      @import "bower_components/cssowl/lib/sass/cssowl"
      .example-replace-inline
        +cssowl-sprite-replace-inline(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"), 0, text-top)

  %ul.nav.nav-tabs
    %li.active.htmltab
      = link_to 'HTML', '#example-replace-inline-html'
    %li
      = link_to 'LESS', '#example-replace-inline-less'
    %li
      = link_to 'SASS', '#example-replace-inline-sass'
    %li
      = link_to 'SCSS', '#example-replace-inline-scss'
    %li
      = link_to 'Stylus', '#example-replace-inline-styl'

  .tab-content
    #example-replace-inline-html.tab-pane.active
      = preserve do
        -code("html") do
          %p Lorem ipsum dolor <span class="example-replace-inline">cssowl</span> sit atem
    #example-replace-inline-less.tab-pane
      = preserve do
        -code("less") do
          :plain
            .example-replace-inline {
              .cssowl-sprite-replace-inline(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"), 0, text-top);
            }
    #example-replace-inline-sass.tab-pane
      = preserve do
        -code("sass") do
          :plain
            .example-replace-inline
              +cssowl-sprite-replace-inline(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"), 0, text-top)
    #example-replace-inline-scss.tab-pane
      = preserve do
        -code("scss") do
          :plain
            .example-replace-inline {
              @include cssowl-sprite-replace-inline(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"), 0, text-top);
            }
    #example-replace-inline-styl.tab-pane
      = preserve do
        -code("sass") do
          :plain
            .example-replace-inline
              cssowl-sprite-replace-inline(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"), 0, text-top)
