%h3#cssowl-sprite-replace-block cssowl-sprite-replace-block <small>(x, y, width, height, src)</small>

%p
  :markdown
    Add a sprite element with the `display: block;` attribute and use `text-indent: -9999px;` to hide the text.

= preserve do
  -code("sass") do
    :plain
      /*
       * @param $x x position of the element
       * @param $y y position of the element
       * @param $width element width
       * @param $height element height
       * @param $src background image source
       */
      @mixin cssowl-sprite-replace-block($x, $y, $width, $height, $src)
        direction: ltr
        text-indent: -9999px
        +cssowl-sprite-display-block($x, $y, $width, $height, $src)

.bs-docs-example

  .content
    %p Lorem ipsum dolor <span class="example-replace-block">cssowl</span> sit atem

    :sass
      @import "bower_components/cssowl/lib/sass/cssowl"
      .example-replace-block
        +cssowl-sprite-replace-block(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"))

  %ul.nav.nav-tabs
    %li.active.htmltab
      = link_to 'HTML', '#example-replace-block-html'
    %li
      = link_to 'LESS', '#example-replace-block-less'
    %li
      = link_to 'SASS', '#example-replace-block-sass'
    %li
      = link_to 'SCSS', '#example-replace-block-scss'
    %li
      = link_to 'Stylus', '#example-replace-block-styl'

  .tab-content
    #example-replace-block-html.tab-pane.active
      = preserve do
        -code("html") do
          %p Lorem ipsum dolor <span class="example-replace-block">cssowl</span> sit atem
    #example-replace-block-less.tab-pane
      = preserve do
        -code("less") do
          :plain
            .example-replace-block {
              .cssowl-sprite-replace-block(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"));
            }
    #example-replace-block-sass.tab-pane
      = preserve do
        -code("sass") do
          :plain
            .example-replace-block
              +cssowl-sprite-replace-block(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"))
    #example-replace-block-scss.tab-pane
      = preserve do
        -code("scss") do
          :plain
            .example-replace-block {
              @include cssowl-sprite-replace-block(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"));
            }
    #example-replace-block-styl.tab-pane
      = preserve do
        -code("styl") do
          :plain
            .example-replace-block
              cssowl-sprite-replace-block(-10px, -10px, 91px, 95px, url("/assets/img/sprite.png"))
