%h2#cssowl-sprite-after cssowl-sprite-after <small>(x, y, width, height, src)</small>

%p
  :markdown
    Adds the element with the `:after` pseudo selector.

= preserve do
  -code("sass") do
    :plain
      /*
       * @param $y       x position of the element
       * @param $y       y position of the element
       * @param $width   element width
       * @param $height  element height
       * @param $src     background image source
       */
      @mixin cssowl-sprite-after($x, $y, $width, $height, $src)
        &:after
          content: ""
          +cssowl-sprite-display-block($x, $y, $width, $height, $src)

.bs-docs-example

  .content
    .example-after Quia sint quis nam et quia ducimus consequatur cumque.

  %ul.nav.nav-tabs
    %li.active
      = link_to 'Sass', '#example-after-sass'
    %li
      = link_to 'Scss', '#example-after-scss'
    %li
      = link_to 'Less', '#example-after-less'
    %li
      = link_to 'Stylus', '#example-after-stylus'
    %li
      = link_to 'Html', '#example-after-html'

  .tab-content
    #example-after-sass.tab-pane.active
      = preserve do
        -code("sass") do
          :plain
            .example-after
              +cssowl-sprite-after(-110px, -30px, 15px, 15px, url("sprite.png"))
    #example-after-scss.tab-pane
      = preserve do
        -code("scss") do
          :plain
            .example-after {
              @include cssowl-sprite-after(-110px, -30px, 15px, 15px, url("sprite.png"));
            }
    #example-after-less.tab-pane
      = preserve do
        -code("less") do
          :plain
            .example-after {
              .cssowl-sprite-after(-110px, -30px, 15px, 15px, url("sprite.png"));
            }
    #example-after-stylus.tab-pane
      = preserve do
        -code("stylus") do
          :plain
            .example-after
              cssowl-sprite-after(-110px, -30px, 15px, 15px, url("sprite.png"))
    #example-after-html.tab-pane
      = preserve do
        -code("html") do
          .example-after Quia sint quis nam et quia ducimus consequatur cumque.
