---
title: Sprite
nav: sprite
---


.container.bs-docs-container
  .row
    .col-md-3
      .bs-sidebar.hidden-print
        %ul.nav.bs-sidenav
          %li
            %a{:href => "#display"} Display
            %ul.nav
              %li
                %a{:href => "#cssowl-sprite-display"} display
              %li
                %a{:href => "#cssowl-sprite-display-block"} display-block
              %li
                %a{:href => "#cssowl-sprite-display-inline"} display-inline
          %li
            %a{:href => "#replace"} Replace
            %ul.nav
              %li
                %a{:href => "#cssowl-sprite-replace"} replace
              %li
                %a{:href => "#cssowl-sprite-replace-block"} replace-block
              %li
                %a{:href => "#cssowl-sprite-replace-inline"} replace-inline
          %li
            %a{:href => "#absolute"} Absolute
            %ul.nav
              %li
                %a{:href => "#cssowl-sprite-absolute"} absolute
              %li
                %a{:href => "#cssowl-sprite-absolute-inside"} absolute-inside
              %li
                %a{:href => "#cssowl-sprite-absolute-outside"} absolute-outside
          %li
            %a{:href => "#float"} Float
            %ul.nav
              %li
                %a{:href => "#cssowl-sprite-float-left"} float-left
              %li
                %a{:href => "#cssowl-sprite-float-right"} float-right
          %li
            %a{:href => "#before"} Before
            %ul.nav
              %li
                %a{:href => "#cssowl-sprite-before"} before
              %li
                %a{:href => "#cssowl-sprite-before-inline"} before-inline
              %li
                %a{:href => "#cssowl-sprite-before-float"} before-float
              %li
                %a{:href => "#cssowl-sprite-before-absolute"} before-absolute
              %li
                %a{:href => "#cssowl-sprite-before-absolute-inside"} before-absolute-inside
              %li
                %a{:href => "#cssowl-sprite-before-absolute-outside"} before-absolute-outside
          %li
            %a{:href => "#after"} After
            %ul.nav
              %li
                %a{:href => "#cssowl-sprite-after"} after
              %li
                %a{:href => "#cssowl-sprite-after-inline"} after-inline
              %li
                %a{:href => "#cssowl-sprite-after-float"} after-float
              %li
                %a{:href => "#cssowl-sprite-after-absolute"} after-absolute
              %li
                %a{:href => "#cssowl-sprite-after-absolute-inside"} after-absolute-inside
              %li
                %a{:href => "#cssowl-sprite-after-absolute-outside"} after-absolute-outside


    .col-md-9.bs-docs-content

      .bs-docs-section

        .page-header
          %h1#overview Overview
        %h2
        = partial "docs/sprite/overview"

      .bs-docs-section

        .page-header
          %h1#display Display

        = partial "docs/sprite/display/display"
        = partial "docs/sprite/display/display-block"
        = partial "docs/sprite/display/display-inline"

      .bs-docs-section

        .page-header
          %h1#replace Replace

        = partial "docs/sprite/replace/replace"
        = partial "docs/sprite/replace/replace-block"
        = partial "docs/sprite/replace/replace-inline"

      .bs-docs-section

        .page-header
          %h1#absolute Absolute

        = partial "docs/sprite/absolute/absolute"
        = partial "docs/sprite/absolute/absolute-inside"
        = partial "docs/sprite/absolute/absolute-outside"

      .bs-docs-section

        .page-header
          %h1#float Float

        = partial "docs/sprite/float/float-left"
        = partial "docs/sprite/float/float-right"

      .bs-docs-section

        .page-header
          %h1#before Before

        = partial "docs/sprite/before/before"
        = partial "docs/sprite/before/before-inline"
        = partial "docs/sprite/before/before-float"
        = partial "docs/sprite/before/before-absolute"
        = partial "docs/sprite/before/before-absolute-inside"
        = partial "docs/sprite/before/before-absolute-outside"

      .bs-docs-section

        .page-header
          %h1#after After

        = partial "docs/sprite/after/after"
        = partial "docs/sprite/after/after-inline"
        = partial "docs/sprite/after/after-float"
        = partial "docs/sprite/after/after-absolute"
        = partial "docs/sprite/after/after-absolute-inside"
        = partial "docs/sprite/after/after-absolute-outside"


      -content_for :head do
        -stylesheet_link_tag "examples-sprite"