%h2#cssowl-sprite-replace-block cssowl-sprite-replace-block <small>(x, y, width, height, src)</small>

%p
  :markdown
    Displays a sprite element with the `display: block;` attribute and uses `text-indent: -9999px;` to hide the text.

= preserve do
  -code("sass") do
    :plain
      /*
       * @param $y       x position of the element
       * @param $y       y position of the element
       * @param $width   element width
       * @param $height  element height
       * @param $src     background image source
       */
      @mixin cssowl-sprite-replace-block($x, $y, $width, $height, $src)
        direction: ltr
        text-indent: -9999px
        +cssowl-sprite-display-block($x, $y, $width, $height, $src)


.bs-docs-example

  .content
    %p Lorem ipsum dolor <span class="example-replace-block">cssowl</span> sit atem

  %ul.nav.nav-tabs
    %li.active
      = link_to 'Sass', '#example-replace-block-sass'
    %li
      = link_to 'Scss', '#example-replace-block-scss'
    %li
      = link_to 'Less', '#example-replace-block-less'
    %li
      = link_to 'Stylus', '#example-replace-block-stylus'
    %li
      = link_to 'Html', '#example-replace-block-html'

  .tab-content
    #example-replace-block-sass.tab-pane.active
      = preserve do
        -code("sass") do
          :plain
            .example-replace-block
              +cssowl-sprite-replace-block(-10px, -10px, 91px, 95px, url("sprite.png"))
    #example-replace-block-scss.tab-pane
      = preserve do
        -code("scss") do
          :plain
            .example-replace-block {
              @include cssowl-sprite-replace-block(-10px, -10px, 91px, 95px, url("sprite.png"))
            }
    #example-replace-block-less.tab-pane
      = preserve do
        -code("less") do
          :plain
            .example-replace-block {
              .cssowl-sprite-replace-block(-10px, -10px, 91px, 95px, url("sprite.png"));
            }
    #example-replace-block-stylus.tab-pane
      = preserve do
        -code("stylus") do
          :plain
            .example-replace-block
              cssowl-sprite-replace-block(-10px, -10px, 91px, 95px, url("sprite.png"))
    #example-replace-block-html.tab-pane
      = preserve do
        -code("html") do
          %p Lorem ipsum dolor <span class="example-replace-block">cssowl</span> sit atem

