%h3#cssowl-sprite-after-absolute-inside cssowl-sprite-after-absolute-inside

:markdown
  Add a sprite element with the `:after` pseudo selector and place it absolutely *inside* the bounding box.

.panel.panel-default
  .panel-heading
    = link_to 'Source', '#source-cssowl-sprite-after-absolute-inside', data: {toggle: 'collapse'}

  #source-cssowl-sprite-after-absolute-inside.panel-body.panel-collapse.collapse
    %ul.nav.nav-tabs
      %li.active
        = link_to 'SASS', '#source-cssowl-sprite-after-absolute-inside-sass'
      %li
        = link_to 'SCSS', '#source-cssowl-sprite-after-absolute-inside-scss'
      %li
        = link_to 'LESS', '#source-cssowl-sprite-after-absolute-inside-less'
      %li
        = link_to 'Stylus', '#source-cssowl-sprite-after-absolute-inside-styl'

    .tab-content
      #source-cssowl-sprite-after-absolute-inside-sass.tab-pane.active
        = preserve do
          -code("sass") do
            :plain
              =cssowl-sprite-after-absolute-inside($element, $valign:top, $halign:left, $xOffset:0, $yOffset:0)
                +cssowl-after-absolute-inside("", nth($element, 3), nth($element, 4), $valign, $halign, $xOffset, $yOffset)
                &:after
                  @extend %\#{nth($element, 5)}
      #source-cssowl-sprite-after-absolute-inside-scss.tab-pane
        = preserve do
          -code("scss") do
            :plain
              @mixin cssowl-sprite-after-absolute-inside($element, $valign:top, $halign:left, $xOffset:0, $yOffset:0) {
                @include cssowl-after-absolute-inside("", nth($element, 3), nth($element, 4), $valign, $halign, $xOffset, $yOffset);
                &:after {
                  @extend %\#{nth($element, 5)};
                }
              }
      #source-cssowl-sprite-after-absolute-inside-less.tab-pane
        = preserve do
          -code("scss") do
            :plain
              .cssowl-sprite-after-absolute-inside(@element, @valign:top, @halign:left, @xOffset:0, @yOffset:0) {
                .cssowl-after-absolute-inside("", extract(@element, 3), extract(@element, 4), @valign, @halign, @xOffset, @yOffset);
                &:after {
                  .less-sprite-element(extract(@element, 5));
                }
              }
      #source-cssowl-sprite-after-absolute-inside-styl.tab-pane
        = preserve do
          -code("sass") do
            :plain
              cssowl-sprite-after-absolute-inside($element, $valign=top, $halign=left, $xOffset=0, $yOffset=0)
                cssowl-after-absolute-inside("", $element[2], $element[3], $valign, $halign, $xOffset, $yOffset)
                &:after
                  @extend ${$element[4]}


.panel.panel-default
  .panel-heading
    = link_to 'Examples', '#examples-cssowl-sprite-after-absolute-inside', data: {toggle: 'collapse'}

  #examples-cssowl-sprite-after-absolute-inside.panel-body.panel-collapse.collapse.in.bs-docs-example

    .content
      .example-sprite-after-absolute-inside{:style => "display:inline-block;border-top:1px solid #59371f;padding-top: 5px;"} Quia sint quis

      :sass
        $sprite-sheet-image: url("/assets/img/site/sprite.png")
        $sprite-sheet-image-2x: url("/assets/img/site/sprite@2x.png")
        @import "site/sprite"
        @import "bower_components/cssowl/lib/sass/cssowl"
        .example-sprite-after-absolute-inside
          +cssowl-sprite-after-absolute-inside($sprite-arrow-down, top, center)

    %ul.nav.nav-tabs
      %li.active
        = link_to 'HTML', '#example-cssowl-sprite-after-absolute-inside-html'
      %li.htmltab
        = link_to 'CSS', '#example-cssowl-sprite-after-absolute-inside-css'
      %li
        = link_to 'SASS', '#example-cssowl-sprite-after-absolute-inside-sass'
      %li
        = link_to 'SCSS', '#example-cssowl-sprite-after-absolute-inside-scss'
      %li
        = link_to 'LESS', '#example-cssowl-sprite-after-absolute-inside-less'
      %li
        = link_to 'Stylus', '#example-cssowl-sprite-after-absolute-inside-styl'

    .tab-content
      #example-cssowl-sprite-after-absolute-inside-html.tab-pane.active
        = preserve do
          -code("html") do
            .example-sprite-after-absolute-inside{:style => "display:inline-block;border-top:1px solid #59371f;padding-top: 5px;"} Quia sint quis
      #example-cssowl-sprite-after-absolute-inside-css.tab-pane
        = preserve do
          -code("css") do
            :sass
              @import "bower_components/cssowl/lib/sass/cssowl"
              @import "source/assets/css/site/sprite"
              .example-sprite-after-absolute-inside
                +cssowl-sprite-after-absolute-inside($sprite-arrow-down, top, center)
      #example-cssowl-sprite-after-absolute-inside-sass.tab-pane
        = preserve do
          -code("sass") do
            :plain
              .example-sprite-after-absolute-inside
                +cssowl-sprite-after-absolute-inside($sprite-arrow-down, top, center)
      #example-cssowl-sprite-after-absolute-inside-scss.tab-pane
        = preserve do
          -code("scss") do
            :plain
              .example-sprite-after-absolute-inside {
                @include cssowl-sprite-after-absolute-inside($sprite-arrow-down, top, center);
              }
      #example-cssowl-sprite-after-absolute-inside-less.tab-pane
        = preserve do
          -code("scss") do
            :plain
              .example-sprite-after-absolute-inside {
                .cssowl-sprite-after-absolute-inside(@sprite-arrow-down, top, center);
              }
      #example-cssowl-sprite-after-absolute-inside-styl.tab-pane
        = preserve do
          -code("sass") do
            :plain
              .example-sprite-after-absolute-inside
                cssowl-sprite-after-absolute-inside($sprite-arrow-down, top, center)
